*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f7f9fd;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto;
}

.header h1 {
  font-size: calc(15 / 16 * 1rem);
}

.form {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 30px;
  border-radius: 15px;
}

.form input[type="text"] {
  width: 70%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 10px;
}

.add-btn {
  background-color: gray;
  background-image: linear-gradient(to right, #cbcfd6, gray);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.category p span {
  display: inline-block;
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s;
}

/*active*/
.work.active {
  background-color: #eff6ff;
  color: blue;
  border: 1px solid blue;
}

.personal.active {
  background-color: #f0fdf4;
  color: lightgreen;
  border: 1px solid lightgreen;
}

.study.active {
  border: 1px solid purple;
  color: purple;
  background-color: #faf5ff;
}

/* Hover*/

.work:hover {
  border: 1px solid blue;
  color: blue;
  background-color: #eff6ff;
}

.personal:hover {
  border: 1px solid lightgreen;
  color: lightgreen;
  background-color: #f0fdf4;
}

.study:hover {
  border: 1px solid purple;
  color: purple;
  background-color: #faf5ff;
}

.info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.info div {
  width: 200px;
  height: 100px;
  cursor: pointer;
  border-radius: 8px;
}

.info p span {
  display: inline-block;
  width: 100%;
}

.total-task {
  background-color: #eff6ff;
}

.total-task span {
  color: blue;
}

.completed-task {
  background-color: #f0fdf4;
}

.completed-task span {
  color: rgb(92, 149, 92);
}

.success-rate {
  background-color: #faf5ff;
}
.success-rate span {
  color: purple;
}

.search {
  padding: 30px;
}

.search input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 3px;
  box-sizing: border-box;
}

.task-filter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.task-filter div {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s;
  border-radius: 8px;
  padding: 10px 15px;
}

.list-item {
  list-style-type: none;
  padding: 20px;
}

.list-item li {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px 6px;
  border-left: 4px solid green;
  border-radius: 8px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
